/* projects.css */
html {
  font-family: "barlow"'Times New Roman', Times, serif;
  height: 100vh;
  background: linear-gradient(135deg, #3490dc, #6574cd);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}
 


@font-face {
    font-family: barlow;
    src: url("Barlow-Light.ttf");
  }
    .headerbg {
      backdrop-filter: blur(5px); /* Adds a blur effect */
      padding: 20px; /* Adjust padding as needed */
      width: 20%;
      display: flex;
      justify-content: center;
      margin: auto;
      border-radius: 5px;
    }
    
    .header {
      margin: 10px;
      font-size: 36px;
      text-align: center;
      color: #381f1f; /* Text color */
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: Barlow, Arial, sans-serif; /* Choose your font */
      animation: shimmer 2s infinite alternate; /* Add shimmer animation */
    }
    
    @keyframes shimmer {
      0% {
        color: #05030a;
        text-shadow: 0 0 10px #6574cd, 0 0 20px #6574cd, 0 0 30px #6574cd, 0 0 40px #6574cd, 0 0 50px #6574cd, 0 0 60px #6574cd, 0 0 70px #6574cd;
      }
      100% {
        color: #172936; /* Adjust shimmer color */
        text-shadow: 0 0 10px #3490dc, 0 0 20px #3490dc, 0 0 30px #3490dc 0 0 40px #3490dc, 0 0 50px #3490dc, 0 0 60px #3490dc, 0 0 70px #3490dc;
      }
    }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%; /* Initial position */
    }
    50% {
      background-position: 100% 50%; /* Midway position */
    }
    100% {
      background-position: 0% 50%; /* Final position */
    }
  }
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background-color: #f9f9f9;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 5px 5px 9px rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 400px;
}
.project-card:hover {
  box-shadow: 5px 5px 9px rgb(0, 0, 0);
  transform: scale(1.02);
}

.project-card:hover .project-image {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
  height:200px;
}

.technologies {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.technology {
  display: flex;
  width: fit-content;
  background-color: #dddddd;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 3px;
  flex-direction: row;
  padding-top: 2px;
  padding-bottom: 2px;

}

.links {
  /* margin-top:10px; */
  bottom: 0;
  height: 16px;
  position: absolute;
  padding: 5px;
  margin: 5px;
}

.links a {
  text-decoration: none;
  color: #333333;
  margin: 5px;
}

.links a:hover {
  text-decoration: underline;
}
@keyframes example {
  from {height: 0;}
  to {height: 100%;}
}

@keyframes example2 {
  from {height: 100%;}
  to {height: 0;}
}
.description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  overflow: auto;
  height: 0;
  font-size: 20px;
  max-height: 300px;
  visibility: hidden;
}

.description.expanded {
  height: 100%;
  visibility: visible;
  animation-name: example;
  animation-duration: 2s;
}
.description::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.description::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Set the background color of the track */
}

.description::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Round the corners of the thumb */
}

.description::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7); /* Set the color of the scrollbar thumb on hover */
}

.description p {
  color: #fff;
  margin: 0;
}

#Python {
  background-color: #ffdf78;
}

#GCP {
  background-color: #34A853;
}

#OpenCV {
  background-color: #86c6d6;
}

#CSS {
  background-color: #3894d1;
}

#JavaScript {
  background-color:  #F0DB4F;
}


@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.project-card h3 {
  padding-left: 21px;
}

.project-card p{
  padding-left: 21px;
}


footer {
  background-color: #172936; /* Adjust color as needed */
  color: #ffffff; /* Text color */
  margin-top: 0; /* take available whitespace */
  margin-bottom: -10px;      /* remove bottom whitespace */
  padding-bottom: 5px;
  height: 100px;     
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Adjust width as needed */
  margin: 0 auto;
}

.footer-left,
.footer-right {
  flex: 1;
}

.footer-left p,
.footer-right p {
  margin: 0;
}

.footer-left p {
  text-align: left;
  padding: 15px
}

.footer-right p {
  text-align: right;
  padding: 15px

}

.footer-right a {
  text-align: right;
  padding: 15px;
  color: #3490dc;

}